# Proprietário do projeto
* @MacFlayyy

# Arquivos críticos do site e automações
/index.html @MacFlayyy
/data.js @MacFlayyy
/status.js @MacFlayyy
/sw.js @MacFlayyy
/manifest.webmanifest @MacFlayyy
/scripts/ @MacFlayyy
/.github/ @MacFlayyy
